html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#todoapp {
	background: #fff;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}

#header{
	border-bottom:3px dotted #dcdcdc;
	margin-bottom:20px;
	padding:20px;
}

#todoapp h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#todoapp input::-webkit-input-placeholder {
	font-family:Helvetica;
	font-size:15px;
	font-weight:lighter;
}

#todo-new{
	padding:0 20px 0px 20px;
}

#todo-new-input {
    border:1px solid #dcdcdc;
    color:#777777;
	font-family:Helvetica;
	font-size:15px;
	font-weight:lighter;
	text-align:left;
	padding-left:8px;
    width:310px;
    height:37px;
    border-radius:5px;
}

#todo-new-button {
    border:1px solid #dcdcdc;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    color:#777777;
	font-family:Helvetica;
	font-size:15px;
	font-weight:bold;
    width:150px;
    height:40px;
    float: right;
    border-radius:5px;
}

#todo-new-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	background-color:#dfdfdf;
}

#todo-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#todo-list li {
	padding: 14px 20px 14px 20px;
	position:relative;
	font-family:Helvetica;
	font-size:15px;
}

#todo-list li:nth-child(odd) {
    background: #F4F7FA;
}

#todo-list li:last-child {
	border-bottom: none;
}

#todo-list li.done label {
	color: #777777;
	text-decoration: line-through;
}

#todo-list .destroy {
	position: absolute;
	right: 5px;
	top: 20px;
	display: none;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

#todo-list li:hover .destroy {
  	display: block;
}

#todo-list .destroy:hover {
  	background-position: 0 -20px;
}

#todo-list li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#todo-list li.editing:last-child {
	margin-bottom: -1px;
}

#todo-list li.editing .edit {
	display: block;
	width: 444px;
	padding: 13px 15px 14px 20px;
	margin: 0;
}

#todo-list li.editing .view {
	font-family:Helvetica;
	font-size:15px;
	font-weight: lighter;
	display: none;
}

#todo-list li .view label {
	font-family:Helvetica;
	font-size:15px;
	word-break: break-word;
	vertical-align: middle;
}

#todo-list li .edit {
	display: none;
}

#stats {
	color: #555555;
	background: #f4fce8;
	border-top: 4px dotted #ededed;
	padding: 10px 20px;
	line-height: 37px;
	border-radius: 0 0 5px 5px;
}

.button-mark-all-complete {
	float: right;
	line-height: 20px;
	text-decoration: none;
	color: #5795CF;
	font-size: 14px;
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0 10px 1px;
}

#clear-completed:hover {
	background: rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	-o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
	box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}

#clear-completed:active {
	position: relative;
	top: 1px;
}

#todo-count span {
	font-weight: bold;
}

.button-move {
	vertical-align: middle;
	float: right;
}

#todo-list li:hover .button-move{
	content:url("/static/assets/handle.png");
}

input[type=checkbox] {
    height: 15px;
    width: 15px;
    vertical-align: middle;
}

input[type=checkbox]:checked {
	background: #1E87B4;
	-webkit-appearance: none;
    -moz-appearance: none;
}
